.set-main {
    border-radius: 10px;
    box-shadow: 0px 0px 5px #639095;
    background-color: white;
    margin-top: 10px;
    padding-top: 20px;
    height: 400px;
}
.left_tab {
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: #E8F0F7;
    margin-left: 20px;
    float: left;
    height: 350px;
    margin-bottom: 20px;
    width: 150px;
    border: 1px #adadad solid;
}
.left_tab li {
    line-height: 30px;
    border-bottom: 1px gray dashed;
    font-family: "瀹嬩綋";
    cursor: pointer;
}
.tab_title {
    font-size: 20px;  
    font-weight: bold;
}
/*选中的tab*/
.active_tab {
    background-color: white;
}
/*密码修改*/
.m_p {
    width: 770px;
    height: 350px;
    float: left;
    border: 1px #adadad solid;
}
.mp_table {
    margin: 50px auto 0px;
    font-family: "瀹嬩綋";
    width: 55%;
    height: 200px;
}
.error {
    font-family: "瀹嬩綋";
    font-size: 12px;
}
/*头像修改*/
.m_a {
    display: none;
    width: 770px;
    height: 350px;
    float: left;
    border: 1px #adadad solid;
    
}
.ma_table {
    font-family: "宋体";
    margin: 20px auto 0px;
    height: 280px;
    border-collapse: collapse;
}
.ma_table tr, .ma_table td {
    border: 1px #adadad solid;
}
#choose_img img {
    height: 150px;
}
.error {
    font-size: 12p;
}
/*旧头像*/
.old_avatar {
	width: 120px;
	height: 120x;
}