/*后台主页*/
.admin_main {
	border-radius: 10px;
    box-shadow: 0px 0px 5px #639095;
    background-color: white;
    margin-top: 10px;
    height: 400px;
}
.tabs {
	width: 150px;
	float: left;
	background-color: #E0F0F2;
	border: 1px #9FBCC0 solid;
	border-top-left-radius: 10px;
}
.tab_title {
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
	font-family: "宋体";
}
.tab {
	font-family: "宋体";
	font-size: 12px;
	line-height: 30px;
	border-top: 1px #9FBCC0 solid;
	padding-left: 10px;
	cursor: pointer;
}
.tab_detail {
	background-color: white;
	padding: 0px;
	margin: 0px;
	font-family: "宋体";
	font-size: 12px;
	list-style: none;
	display: none;
}
.tab_detail li {
	line-height: 30px;
	margin-left: 10px;
}
/*右侧面板*/
.r_d {
	float: left;
	width: 826px;
	height: 100%;
	border: 1px #9FBCC0 solid;
}
/*板块列表*/
.s_l {
	display: none;
}
.s_l_tree {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	width: 200px;
}
.s_l_op {
	float: left;
	width: 586px;
	height: 100%;
	border-left: 1px #9FBCC0 dashed;
}
/*属性菜单*/
#tree li, #tree span {
	font-family: "宋体";
	font-size: 14px;
    cursor: pointer;
}
.tree_li_active {
    color: #F57676;
}
.start {
	font-family: "宋体";
	font-size: 20px;
	color: green;
	text-align: center;
	line-height: 300px;
}
.btns {
	width: 100%;
	height: 30%;
	text-align: center;
	line-height: 120px;
	border-bottom: 1px #9FBCC0 dashed;
}
.op_area {
	font-family: "宋体";
	display: none;
	height: 280px;
}
/*默认功能面板*/
.op_default {
	color: #9FBCC0;
	line-height: 200px;
	display: block;
	text-align: center;
}
.section_table {
	width: 50%;
    height: 30%;
    margin: 20px auto 0px;
    font-family: "宋体";
}
.section_table td {
    font-family: "宋体";
}
/*保存按钮td*/
.btn_td {
    text-align: left;
    padding-left: 10px;
}
.error {
    font-size: 12px;
    color: red;
    font-family: "宋体";
}
#c_l {
	display: none;
	margin-top: 20px;
}
/*表格头*/
.head td {
    font-weight: bold;
}
/*列别-用户列表*/
.c_u_table {
    width: 40%;
    margin: 10px auto 0px;
    border-collapse: collapse;
}

.c_u_table tr, .c_u_table td {
    border: 1px #9FBCC0 solid;
    text-align: center;
}
.c_u_table a {
    text-decoration: none;
    color: blue;
}
.c_u_table a:visited {
    color: blue!important;
}
/*类别列表头*/
.c_l_title, c_l_title a {
    width: 40%;
    margin: 10px auto 0px;
    font-family: "宋体";
}
#category_window {
    position: fixed;
    z-index: 999;
    width: 300px;
    height: 150px;
    background-color: #E0F0F2;
    top: 35%;
    left: 50%;
    margin-left: -150px;
    margin-top: -75px;
    display: none;
}
#category_window table {
    width: 80%;
    height: 70%;
    margin: 20px auto 0px;
}
.red_font {
    color: red;
}
.green_font {
    color: limegreen;
}
#u_l {
    text-align: center;
    display: none;
    margin-top: 20px;
}
.search_bar {
	margin-bottom: 40px;
	font-size: 13px;
}